In [ ]:
#Neste trabalho, vamos exercitar conceitos sobre medidas de desempenho vistas em aula, a partir da modelagem de 3 problemas diferentes.
#Para o problema de regressão, usaremos a base diabetes_numeric.csv e uma regressão linear.
#Para o problema de classificação, usaremos a base bloodtransf.csv e um SVM.
#Para o problema de clusterização vamos utilizar a base wine.csv e o algoritmo kmeans.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
diabetes = pd.read_csv('/content/drive/My Drive/Data Science/Bootcamp Analista de ML/Módulo 3 - SMA/diabetes_numeric.csv')
bloodtransf = pd.read_csv('/content/drive/My Drive/Data Science/Bootcamp Analista de ML/Módulo 3 - SMA/bloodtransf.csv')
wine = pd.read_csv('/content/drive/My Drive/Data Science/Bootcamp Analista de ML/Módulo 3 - SMA/wine.csv')

In [ ]:
#Sobre o número de atributos da base de regressão, marque a alternativa CORRETA:
diabetes.shape

(43, 3)

In [ ]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        43 non-null     float64
 1   deficit    43 non-null     float64
 2   c_peptide  43 non-null     float64
dtypes: float64(3)
memory usage: 1.1 KB

In [ ]:
#Sobre o número de instâncias da base de classificação, marque a alternativa CORRETA:
bloodtransf.shape

(748, 5)

In [ ]:
#Sobre a base de clusterização, marque a alternativa CORRETA:
wine.shape

(178, 14)

In [ ]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   class                           178 non-null    int64
 1   Alcohol                         178 non-null    float64
 2   Malic_acid                      178 non-null    float64
 3   Ash                             178 non-null    float64
 4   Alcalinity_of_ash               178 non-null    float64
 5   Magnesium                       178 non-null    int64
 6   Total_phenols                   178 non-null    float64
 7   Flavanoids                      178 non-null    float64
 8   Nonflavanoid_phenols            178 non-null    float64
 9   Proanthocyanins                 178 non-null    float64
 10  Color_intensity                 178 non-null    float64
 11  Hue                             178 non-null    float64
 12  OD280%2FOD315_of_diluted_wines  178 non-null    float64
 13  Proline                         178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [ ]:
#Sobre dados faltantes, marque a alternativa CORRETA:
print('Dados faltantes diabetes é : \n', diabetes.isnull().sum(), '\n')
print('Dados faltantes bloodtransf é : \n', bloodtransf.isnull().sum(), '\n')
print('Dados faltantes wine é : \n', wine.isnull().sum(), '\n')

Dados faltantes diabetes é :
 age          0
deficit      0
c_peptide    0
dtype: int64

Dados faltantes bloodtransf é :
 V1       0
V2       0
V3       0
V4       0
Class    0
dtype: int64

Dados faltantes wine é :
 class                             0
Alcohol                           0
Malic_acid                        0
Ash                               0
Alcalinity_of_ash                 0
Magnesium                         0
Total_phenols                     0
Flavanoids                        0
Nonflavanoid_phenols              0
Proanthocyanins                   0
Color_intensity                   0
Hue                               0
OD280%2FOD315_of_diluted_wines    0
Proline                           0
dtype: int64

In [ ]:
#Regressão linear com diabetes_numeric
diabetes.head()

    age  deficit  c_peptide
0   5.2     -8.1        4.8
1   8.8    -16.1        4.1
2  10.5     -0.9        5.2
3  10.6     -7.8        5.5
4  10.4    -29.0        5.0

In [ ]:
#Em relação a modelagem utilizando a regressão linear, marque a alternativa CORRETA sobre a métrica r2

from sklearn.model_selection import train_test_split

x_diabetes = diabetes.drop('c_peptide', axis=1)
x_diabetes = np.array(x_diabetes)
y_diabetes = np.array(diabetes['c_peptide'])

#splitando treino e teste
from sklearn.linear_model import LinearRegression

x_treino_diabetes, x_teste_diabetes, y_treino_diabetes, y_teste_diabetes = train_test_split(x_diabetes, y_diabetes, test_size = 0.25, random_state = 42)

#Aplicando a regressão
regressor = LinearRegression()

regressor.fit(x_treino_diabetes, y_treino_diabetes)

#teste

reg_pred = regressor.predict(x_teste_diabetes)

#Exibindo
p = pd.DataFrame({'Real': y_teste_diabetes, 'Previsto': reg_pred})  
p.head()

   Real  Previsto
0   6.0  5.256343
1   5.7  5.355738
2   5.1  5.118052
3   5.1  4.716996
4   3.9  4.348632

In [ ]:
#Em relação a modelagem utilizando a regressão linear, marque a alternativa CORRETA sobre a métrica r2:

from sklearn import metrics

#avaliando o modelo
print('R2:', metrics.r2_score(y_teste_diabetes, reg_pred)) 
print('MAE:', metrics.mean_absolute_error(y_teste_diabetes, reg_pred))
print('MSE:', metrics.mean_squared_error(y_teste_diabetes, reg_pred))

R2: 0.21880597788432898
MAE: 0.6107422323514548
MSE: 0.474526947318197

In [ ]:
#Em relação a modelagem utilizando o SVM, marque a alternativa CORRETA sobre a métrica acurácia:
#Split do dataset bloodtransf
x_blood = bloodtransf.drop('Class', axis=1)
x_blood = np.array(x_blood)
y_blood = np.array(bloodtransf['Class'])


#splitando treino e teste
from sklearn.linear_model import LinearRegression #repeti a importação para faciliar a leitura

x_treino_blood, x_teste_blood, y_treino_blood, y_teste_blood = train_test_split(x_blood, y_blood, test_size = 0.25, random_state = 42)

from sklearn.svm import SVC
reg_svc = SVC(kernel='rbf')
reg_svc.fit(x_treino_blood, y_treino_blood)
svm_predict = reg_svc.predict(x_teste_blood)

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [ ]:
accuracy_score(y_teste_blood, svm_predict)

0.7486631016042781

In [ ]:
#Em relação a modelagem utilizando o SVM, marque a alternativa CORRETA sobre as métricas precision e recall:

precision_score(y_teste_blood, svm_predict)

0.7473118279569892

In [ ]:
recall_score(y_teste_blood, svm_predict)

1.0

In [ ]:
#Em relação a modelagem utilizando o SVM, marque a alternativa CORRETA sobre a métrica f1:
f1_score(y_teste_blood, svm_predict)

0.8553846153846154

In [ ]:
#Em relação a modelagem utilizando o SVM, marque a alternativa CORRETA sobre a métrica AUROC:
roc_auc_score(y_teste_blood, svm_predict)

0.5104166666666666

In [ ]:
wine.head()

   class  Alcohol  Malic_acid  ...   Hue  OD280%2FOD315_of_diluted_wines  Proline
0      1    14.23        1.71  ...  1.04                            3.92     1065
1      1    13.20        1.78  ...  1.05                            3.40     1050
2      1    13.16        2.36  ...  1.03                            3.17     1185
3      1    14.37        1.95  ...  0.86                            3.45     1480
4      1    13.24        2.59  ...  1.04                            2.93      735

[5 rows x 14 columns]

In [ ]:
#Em relação a modelagem utilizando o Kmeans, marque a alternativa CORRETA sobre o número de clusters:
wine['class'].nunique()

3

In [ ]:
#split dos dados

x_wine = wine.drop('class', axis=1)
x_wine = np.array(x_wine)
y_wine = np.array(wine['class'])

#splitando treino e teste
from sklearn.linear_model import LinearRegression #repeti a importação para faciliar a leitura

x_treino_wine, x_teste_wine, y_treino_wine, y_teste_wine = train_test_split(x_wine, y_wine, test_size = 0.25, random_state = 42)

from sklearn.cluster import KMeans

reg_k = KMeans(n_clusters=3) #porque é o número de clusters, como visto acima
reg_k.fit(x_treino_wine, y_treino_wine)
k_predict = reg_k.predict(x_teste_wine)
k_predict

array([1, 2, 0, 2, 0, 2, 0, 1, 1, 1, 1, 0, 2, 0, 2, 0, 0, 1, 2, 0, 2, 0,
       1, 1, 0, 1, 0, 1, 0, 2, 2, 0, 1, 2, 2, 2, 1, 0, 1, 1, 2, 0, 0, 1,
       0], dtype=int32)

In [ ]:
from sklearn.metrics import silhouette_score, davies_bouldin_score, mutual_info_score

In [ ]:
#Em relação a modelagem utilizando o Kmeans, marque a alternativa CORRETA sobre a métrica Coeficiente de Silhueta:
silhouette_score(x_teste_wine, k_predict)

0.5519241838976592

In [ ]:
#Em relação a modelagem utilizando o Kmeans, marque a alternativa CORRETA sobre a métrica Davies-Bouldin Score:

davies_bouldin_score(x_teste_wine, k_predict)

0.5415115100039725

In [ ]:
#Em relação a modelagem utilizando o Kmeans, marque a alternativa CORRETA sobre a métrica Mutual information:
mutual_info_score(y_teste_wine, k_predict)

0.526053317723497